// Site Colors
:root {
  --primary: #0070b9;
  --secondary: #92278f;
  --text_color: #58595b;
  --site_bg: #f2f2f3;
  --grey: #88898a;
  --light-grey: #ccc;
  --white: #fff;
  --black: #121212;
  --black-half: rgba(0, 0, 0, 0.5);
  --white-half: rgba(255, 255, 255, 0.5);
  --box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.05);
  --border: #f1f1f4;
  --green: #1bc5bd;
  --red: #f64e60;
  --border-radius:12px;
}

// Site Bases
$xxs: 350px;
$sm: 480px;
$md: 769px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// Site Font
$font-regular: "DIN Next LT W23";
$font-medium: "DIN Next LT W23 Medium";

a {
  text-decoration: none;
  transition: 0.3s all ease;
}

::-webkit-scrollbar {
  width: 6px;
  background: var(--white);
}

/* Track */

::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: var(--border);
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: var(--light-grey);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: var(--primary);
}

::placeholder {
  color: var(--grey) !important;
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: var(--grey) !important;
}

.dropdown-item:active {
  background: var(--site_bg);
  color: var(--primary);
}

body {
  font-family: $font-regular;
  color: var(--text_color);
  background-color: var(--white);
  line-height: 150%;

  #page-content-wrapper {
    padding: 40px;
    background: var(--site_bg);
    transition: all 0.25s ease-out;
    @media (min-width: $xxs) {
      min-width: 100%;
      width: 100%;
      padding-inline-start: 360px;
      border-top-left-radius: 60px;
    }
    @media (max-width: $lg) {
      padding-inline-start: 60px;
    }
  }
  &.rtl {
    #page-content-wrapper {
      @media (min-width: $xxs) {
        border-top-right-radius: 60px;
        border-top-left-radius: initial;
      }
    }
  }

  &.sb-sidenav-toggled {
    #sidebar-wrapper {
      @media (min-width: $xxs) {
        margin-inline-start: -320px;
      }
    }

    #page-content-wrapper {
      @media (min-width: $xxs) {
        padding-inline-start: 40px;
      }
      @media (max-width: $lg) {
        padding-inline-start: 20px;
        padding-inline-end: 20px;
        overflow: auto;
      }
    }
  }
}

#wrapper {
  height: 100vh;
  overflow: auto;
  margin-top: 88px;
}

/* LTR specific styles */
.ltr {
  direction: ltr;
  text-align: left;
}

/* RTL specific styles */
.rtl {
  direction: rtl;
  text-align: right;
}
