//Table Style 
.table-responsive {
  overflow-x: auto;

  .cases-table {
    width: 100%;
    border-collapse: collapse;
    tr {
      &:nth-child(even) {
        background-color: #f9f9f9;
      }
      &:hover {
        background-color: #f2f2f2;
      }
    }
    th,
    td {
      text-align: left;
      padding: 8px;
      border-bottom: 1px solid var(--site_bg);
      color: var(--grey);
      &.status-open {
        color: #1bc5bd;
      }
      &.status-closed {
        color: #f64e60;
      }
    }

    thead {
      th {
        background-color: var(--site_bg);
        color: var(--black);
      }
    }
  }
}

// Pageing Style 

.paging{
    margin-top: 30px;
    display: flex;
    flex-direction: row-reverse;
    ul.pagination {
        gap: 5px;
        li.page-item{
            span.page-link {
                border: none;
                box-shadow: none;
                background: #922A8E !important;
                color: #fff;
            }
            .page-link{
                color: var(--grey);
                background: rgba(150, 149, 153, 0.24);
                border-radius: 12px ;
                padding: 5px 15px 7px;
                &:hover {
                    color: #969599 !important;
                    background: rgba(150, 149, 153, 0.5);
                }
              
            }
            &.active {
                .page-link{
                    color: #fff ;
                }
              
            }
        }
       
           
    }
}


// Breadcrump Style

ol.breadcrumb li:before {
    .rtl &{
        float: right !important;
        padding-left: var(--bs-breadcrumb-item-padding-x);
    }
}