.login {
  display: flex;
  flex-direction: row;
  @include flex-box($display: flex, $flex-direction: row);
  height: 100vh;
  @media (max-width: $lg) {
    flex-direction: column;
  }
  .login-section {
    width: 33.333%;
    background-color: var(--primary);
    @include flex-box(
      $display: flex,
      $justify-content: center,
      $align-items: center
    );
    @media (max-width: $lg) {
      width: 100%;
      padding: 70px 20px;
    }
    .lang-switch {
      position: fixed;
      top: 5%;
      inset-inline-end: 5%;
      padding: 10px 20px;
      cursor: pointer;
      border: 1px solid var(--white-half);
      z-index: 99;
      border-radius: 5px;
      background: rgba(255, 255, 255, 0.1);
      color: var(--white);
      font-size: 20px;
      @media (max-width: $lg) {
        background: var(--secondary);
        top: 60px;
        position: absolute;
        padding: 5px 15px 10px;
        border-radius: 30px;
      }
    }
    .login-contents {
      @include flex-box(
        $display: flex,
        $align-items: center,
        $flex-direction: column
      );
      width: 100%;
      max-width: 460px;
      border-radius: 12px;
      background: var(--site_bg);
      box-shadow: var(--box-shadow);
      gap: 20px;
      padding: 36px;
      ul {
        @include flex-box($display: flex, $justify-content: space-between);
        width: 100%;
        gap: 5px;
        padding: 0;
        li {
          flex-grow: 1;
          button {
            width: 100%;
            text-align: center;
            @include default-text($font-regular, 18px, 150%, var(--grey));
            box-shadow: none;
            outline: none;
            border: none;
            border-bottom: 4px solid var(--light-grey);
            &.active {
              color: var(--primary);
              border: none;
              background: transparent;
              border-bottom: 4px solid var(--primary);
            }
          }
        }
      }
      .frm-title {
        @include default-text($font-regular, 30px, 150%, var(--black));
        text-align: center;
      }
      .tab-content {
        width: 100%;
        .form-control {
          border-radius: 12px;
          border: 1px solid var(--light-grey);
          background: var(--white);
          width: 100%;
          height: 50px;
          padding: 15px 20px;
          font-size: 18px;
        }
        button.btn-frm-submit {
          border-radius: 12px;
          background: var(--primary);
          width: 100%;
          padding: 15px;
          margin: 40px 0px 15px;
          color: var(--white);
        }
      }
    }
  }
  .branding-section {
    @include flex-box(
      $display: flex,
      $justify-content: center,
      $align-items: center
    );
    flex: 1;
    background-color: var(--white);
    position: relative;
    background: url("../images/login-vector.svg") no-repeat;
    background-size: cover;
    @media (max-width: $lg) {
      align-items: start;
      flex-direction: column;
      padding: 70px 20px;
      width: auto;
    }

    .logo {
      position: absolute;
      top: 5%;
      inset-inline-start: 5%;
      @media (max-width: $lg) {
        position: relative;
        top: -40px;
      }
    }
    .branding-info {
      width: 100%;
      max-width: 460px;
      span {
        @include default-text($font-regular, 18px, 150%, var(--primary));
      }
      h1 {
        @include default-text($font-medium, 48px, 120%, var(--black));
        margin-bottom: 20px;
        @media (max-width: $lg) {
          font-size: 38px;
        }
      }
      p {
        @include default-text($font-regular, 19, 150%, var(--grey));
      }
    }
    &:after {
      content: "";
      background: var(--primary);
      width: 4px;
      height: 100%;
      inset-inline-end: 0;
      position: absolute;
      @media (max-width: $lg) {
        display: none;
      }
    }
  }
}
