@mixin default-text ($font-family,$font-size,$line-height,$color) {
    font-family: $font-family;
    font-size: $font-size;
    line-height: $line-height;
    color:$color
  }    


  @mixin flex-box ($display: null,$justify-content: null,$align-items: null,$flex-direction: null,$flex: null,$flex-wrap: null) {
    @if $display != null {
      display: $display;
    }
    @if $justify-content != null {
      justify-content: $justify-content;
    }
    @if $align-items != null {
      align-items: $align-items;
    }
    @if $flex-direction != null {
      flex-direction: $flex-direction; 
    }
    @if $flex != null {
      flex: $flex;
    }
    @if $flex-wrap != null {
      flex-wrap: $flex-wrap;
    }
    
  }




