@font-face {
  font-family: "DIN Next LT W23";
  src: url("../fonts/644ad789-1663-4740-a778-649cfad3951a.eot?iefix") format("eot");
}
@font-face {
  font-family: "DIN Next LT W23";
  src: url("../fonts/644ad789-1663-4740-a778-649cfad3951a.eot?iefix");
  src: url("../fonts/b53d284e-baaa-45fe-a2d9-9ed3d364834f.woff") format("woff"), url("../fonts/decc2f6c-155a-4101-aaa9-e8570711af71.ttf") format("truetype"), url("../fonts/96953c77-fad6-4aa8-93d1-24182ebd0494.svg#96953c77-fad6-4aa8-93d1-24182ebd0494") format("svg");
}
@font-face {
  font-family: "DIN Next LT W23 Medium";
  src: url("../fonts/6e7f8ec5-ab54-4a5f-bb89-ef815c6a6e14.eot?iefix") format("eot");
}
@font-face {
  font-family: "DIN Next LT W23 Medium";
  src: url("../fonts/6e7f8ec5-ab54-4a5f-bb89-ef815c6a6e14.eot?iefix");
  src: url("../fonts/1424678a-7c69-4221-ba01-30a5d88e631d.woff") format("woff"), url("../fonts/2e195c47-57c9-413e-80a7-e89bc6357180.ttf") format("truetype"), url("../fonts/bf37d5ca-0243-42f1-b614-0857ec2c7aab.svg#bf37d5ca-0243-42f1-b614-0857ec2c7aab") format("svg");
}
@keyframes menu-sub-dropdown-animation-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes menu-sub-dropdown-animation-move-up {
  from {
    margin-top: 0.75rem;
  }
  to {
    margin-top: 0;
  }
}
@keyframes menu-sub-dropdown-animation-move-down {
  from {
    margin-bottom: 0.75rem;
  }
  to {
    margin-bottom: 0;
  }
}
:root {
  --primary: #0070b9;
  --secondary: #92278f;
  --text_color: #58595b;
  --site_bg: #f2f2f3;
  --grey: #88898a;
  --light-grey: #ccc;
  --white: #fff;
  --black: #121212;
  --black-half: rgba(0, 0, 0, 0.5);
  --white-half: rgba(255, 255, 255, 0.5);
  --box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.05);
  --border: #f1f1f4;
  --green: #1bc5bd;
  --red: #f64e60;
  --border-radius:12px;
}

a {
  text-decoration: none;
  transition: 0.3s all ease;
}

::-webkit-scrollbar {
  width: 6px;
  background: var(--white);
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: var(--border);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--light-grey);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: var(--primary);
}

::-moz-placeholder {
  color: var(--grey) !important;
  opacity: 1; /* Firefox */
}

::placeholder {
  color: var(--grey) !important;
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: var(--grey) !important;
}

.dropdown-item:active {
  background: var(--site_bg);
  color: var(--primary);
}

body {
  font-family: "DIN Next LT W23";
  color: var(--text_color);
  background-color: var(--white);
  line-height: 150%;
}
body #page-content-wrapper {
  padding: 40px;
  background: var(--site_bg);
  transition: all 0.25s ease-out;
}
@media (min-width: 350px) {
  body #page-content-wrapper {
    min-width: 100%;
    width: 100%;
    padding-inline-start: 360px;
    border-top-left-radius: 60px;
  }
}
@media (max-width: 992px) {
  body #page-content-wrapper {
    padding-inline-start: 60px;
  }
}
@media (min-width: 350px) {
  body.rtl #page-content-wrapper {
    border-top-right-radius: 60px;
    border-top-left-radius: initial;
  }
}
@media (min-width: 350px) {
  body.sb-sidenav-toggled #sidebar-wrapper {
    margin-inline-start: -320px;
  }
}
@media (min-width: 350px) {
  body.sb-sidenav-toggled #page-content-wrapper {
    padding-inline-start: 40px;
  }
}
@media (max-width: 992px) {
  body.sb-sidenav-toggled #page-content-wrapper {
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    overflow: auto;
  }
}

#wrapper {
  height: 100vh;
  overflow: auto;
  margin-top: 88px;
}

/* LTR specific styles */
.ltr {
  direction: ltr;
  text-align: left;
}

/* RTL specific styles */
.rtl {
  direction: rtl;
  text-align: right;
}

header.header {
  z-index: 99;
  position: fixed;
  inset-inline-start: 0;
  inset-inline-end: 0;
  top: 0;
  background: var(--white);
}
header.header .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 14px 48px;
}
@media (max-width: 769px) {
  header.header .container-fluid {
    flex-direction: column;
  }
}
header.header .container-fluid .logo-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex: 0 0 15%;
}
@media (max-width: 769px) {
  header.header .container-fluid .logo-wrap {
    width: 100%;
  }
}
header.header .container-fluid .logo-wrap .logo img {
  height: 45px;
}
header.header .container-fluid .logo-wrap .sidebarToggle {
  background-color: transparent;
  border: 0 !important;
  outline: none !important;
}
header.header .container-fluid .logo-wrap .sidebarToggle img {
  transition: 0.3s all ease;
}
header.header .container-fluid .logo-wrap .sidebarToggle img:hover {
  filter: sepia(100%) hue-rotate(190deg) saturate(500%);
  transform: rotateZ(180deg);
}
header.header .container-fluid .search-wrap {
  position: relative;
  width: 20%;
  margin-inline-end: auto;
  margin-inline-start: 10%;
}
@media (max-width: 992px) {
  header.header .container-fluid .search-wrap {
    width: 40%;
  }
}
@media (max-width: 769px) {
  header.header .container-fluid .search-wrap {
    width: 100%;
    margin: 20px 0;
    display: none;
  }
}
header.header .container-fluid .search-wrap form {
  position: relative;
}
header.header .container-fluid .search-wrap form:after {
  content: "";
  width: 21px;
  height: 21px;
  position: absolute;
  background: url(../images/ic-search.svg) no-repeat;
  background-size: cover;
  inset-inline-end: 15px;
  top: 12px;
}
header.header .container-fluid .search-wrap input {
  font-family: "DIN Next LT W23";
  font-size: 18px;
  line-height: 150%;
  color: var(--grey);
  border-radius: 32px;
  background: var(--site_bg);
  border: none !important;
  padding-top: 10px;
  padding-inline-end: 38px;
  padding-top: 10px;
  padding-inline-start: 24px;
}
header.header .container-fluid .search-wrap input:active, header.header .container-fluid .search-wrap input:focus {
  box-shadow: none;
  border-color: var(--light-grey);
}
header.header .container-fluid nav.navbar {
  padding: 0;
}
@media (max-width: 769px) {
  header.header .container-fluid nav.navbar {
    width: 100%;
  }
}
@media (max-width: 769px) {
  header.header .container-fluid nav.navbar .navbar-toggler {
    position: fixed;
    top: 20px;
    padding: 5px 7px;
    border: none;
    right: auto;
    left: 50%;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    box-shadow: none !important;
  }
}
@media (max-width: 769px) {
  .rtl header.header .container-fluid nav.navbar .navbar-toggler {
    left: auto;
    right: 50%;
  }
}
header.header .container-fluid nav.navbar .navbar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
@media (max-width: 769px) {
  header.header .container-fluid nav.navbar .navbar-nav {
    justify-content: center;
    gap: 20px;
  }
}
header.header .container-fluid nav.navbar .navbar-nav .nav-item {
  position: relative;
}
@media (max-width: 769px) {
  header.header .container-fluid nav.navbar .navbar-nav .nav-item {
    position: static;
  }
}
header.header .container-fluid nav.navbar .navbar-nav .nav-item.language a.nav-link, header.header .container-fluid nav.navbar .navbar-nav .nav-item.notification a.nav-link, header.header .container-fluid nav.navbar .navbar-nav .nav-item.user-panel a.nav-link {
  padding: 0;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--site_bg);
  border-radius: 50%;
}
@media (max-width: 769px) {
  header.header .container-fluid nav.navbar .navbar-nav .nav-item.language .dropdown-menu, header.header .container-fluid nav.navbar .navbar-nav .nav-item.notification .dropdown-menu, header.header .container-fluid nav.navbar .navbar-nav .nav-item.user-panel .dropdown-menu {
    position: absolute;
    left: 0;
    right: 0;
    width: 60%;
    margin: auto;
    top: 100%;
  }
}
header.header .container-fluid nav.navbar .navbar-nav .nav-item.language .dropdown-menu .dropdown-item, header.header .container-fluid nav.navbar .navbar-nav .nav-item.notification .dropdown-menu .dropdown-item, header.header .container-fluid nav.navbar .navbar-nav .nav-item.user-panel .dropdown-menu .dropdown-item {
  display: block;
}
header.header .container-fluid nav.navbar .navbar-nav .nav-item.language .dropdown-menu .dropdown-item img, header.header .container-fluid nav.navbar .navbar-nav .nav-item.notification .dropdown-menu .dropdown-item img, header.header .container-fluid nav.navbar .navbar-nav .nav-item.user-panel .dropdown-menu .dropdown-item img {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  margin-inline-end: 5px;
  position: relative;
  top: -2px;
}
header.header .container-fluid nav.navbar .navbar-nav .nav-item.language .dropdown-menu .dropdown-item.active, header.header .container-fluid nav.navbar .navbar-nav .nav-item.notification .dropdown-menu .dropdown-item.active, header.header .container-fluid nav.navbar .navbar-nav .nav-item.user-panel .dropdown-menu .dropdown-item.active {
  background: var(--site_bg) !important;
  color: var(--black);
}
@media (min-width: 769px) {
  header.header .container-fluid nav.navbar .navbar-nav .nav-item.language .dropdown-menu, header.header .container-fluid nav.navbar .navbar-nav .nav-item.notification .dropdown-menu, header.header .container-fluid nav.navbar .navbar-nav .nav-item.user-panel .dropdown-menu {
    inset-inline-end: 0;
    animation: menu-sub-dropdown-animation-fade-in 0.3s ease 1, menu-sub-dropdown-animation-move-up 0.3s ease 1;
    z-index: 1;
    position: fixed;
    margin: 0px;
    border: none;
    inset-block-start: 0;
    inset-inline-end: 55px;
    top: 55px;
    box-shadow: var(--box-shadow);
  }
}
@media (min-width: 769px) {
  header.header .container-fluid nav.navbar .navbar-nav .nav-item.language:hover > .dropdown-menu, header.header .container-fluid nav.navbar .navbar-nav .nav-item.notification:hover > .dropdown-menu, header.header .container-fluid nav.navbar .navbar-nav .nav-item.user-panel:hover > .dropdown-menu {
    display: block;
    margin-top: 0;
  }
}
header.header .container-fluid nav.navbar .navbar-nav .nav-item.language .dropdown-menu {
  min-width: 200px;
}
header.header .container-fluid nav.navbar .navbar-nav .nav-item.language .dropdown-menu a {
  padding: 5px 15px;
  color: var(--black);
  text-align: start;
}
header.header .container-fluid nav.navbar .navbar-nav .nav-item.notification a.nav-link {
  position: relative;
}
header.header .container-fluid nav.navbar .navbar-nav .nav-item.notification a.nav-link span.counter {
  position: absolute;
  top: -10px;
  inset-inline-start: -5px;
  background: var(--secondary);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  color: var(--white);
  font-size: 14px;
}
header.header .container-fluid nav.navbar .navbar-nav .nav-item.notification .dropdown-menu {
  min-width: 250px;
}
header.header .container-fluid nav.navbar .navbar-nav .nav-item.notification .dropdown-menu h4 {
  font-family: "DIN Next LT W23 Medium";
  font-size: 18px;
  line-height: 150%;
  color: var(--black);
  border-bottom: 0.5px solid var(--light-grey);
  padding: 10px 20px;
  text-align: start;
}
header.header .container-fluid nav.navbar .navbar-nav .nav-item.notification .dropdown-menu .bx-list .symbol {
  display: flex;
  justify-content: stretch;
  align-items: start;
  text-align: start;
  padding: 10px 20px;
}
header.header .container-fluid nav.navbar .navbar-nav .nav-item.notification .dropdown-menu .bx-list .symbol img {
  margin-top: 8px;
  width: 22px;
  height: 22px;
}
header.header .container-fluid nav.navbar .navbar-nav .nav-item.notification .dropdown-menu .bx-list .symbol .symbol-info {
  margin: 0 15px;
}
header.header .container-fluid nav.navbar .navbar-nav .nav-item.notification .dropdown-menu .bx-list .symbol .symbol-info p {
  margin: 0;
  font-family: "DIN Next LT W23";
  font-size: 16px;
  line-height: 150%;
  color: var(--black);
  transition: color 0.2s ease;
}
header.header .container-fluid nav.navbar .navbar-nav .nav-item.notification .dropdown-menu .bx-list .symbol .symbol-info span {
  font-family: "DIN Next LT W23";
  font-size: 14px;
  line-height: 150%;
  color: var(--grey);
}
header.header .container-fluid nav.navbar .navbar-nav .nav-item.notification .dropdown-menu .bx-list .symbol:hover {
  background: var(--site_bg) !important;
}
header.header .container-fluid nav.navbar .navbar-nav .nav-item.user-panel a.nav-link {
  width: 60px;
  height: 60px;
}
header.header .container-fluid nav.navbar .navbar-nav .nav-item.user-panel a.nav-link img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
header.header .container-fluid nav.navbar .navbar-nav .nav-item.user-panel .dropdown-menu {
  min-width: 280px;
}
header.header .container-fluid nav.navbar .navbar-nav .nav-item.user-panel .dropdown-menu .user-info {
  display: flex;
  padding: 15px;
  gap: 1rem;
  border-bottom: 0.5px solid var(--light-grey);
  margin-bottom: 10px;
  text-align: start;
}
header.header .container-fluid nav.navbar .navbar-nav .nav-item.user-panel .dropdown-menu .user-info img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
header.header .container-fluid nav.navbar .navbar-nav .nav-item.user-panel .dropdown-menu .user-info .info p.name {
  margin: 0;
  font-family: "DIN Next LT W23 Medium";
  font-size: 18px;
  line-height: 150%;
  color: var(--black);
}
header.header .container-fluid nav.navbar .navbar-nav .nav-item.user-panel .dropdown-menu .user-info .info p.pos {
  margin: 0;
  color: var(--grey);
}
header.header .container-fluid nav.navbar .navbar-nav .nav-item.user-panel .dropdown-menu .user-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
header.header .container-fluid nav.navbar .navbar-nav .nav-item.user-panel .dropdown-menu .user-list ul a {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: row;
  padding: 6px 15px;
  color: var(--grey);
}
header.header .container-fluid nav.navbar .navbar-nav .nav-item.user-panel .dropdown-menu .user-list ul a:hover {
  color: var(--black);
  background: var(--site_bg);
}

#sidebar-wrapper {
  background: var(--white);
  width: 320px;
  height: 100vh;
  margin-inline-start: 0px;
  transition: all 0.25s ease-out;
  padding: 50px 0;
}
@media (min-width: 769px) {
  #sidebar-wrapper {
    position: fixed;
  }
}
#sidebar-wrapper .sidebar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  width: inherit;
}
#sidebar-wrapper .sidebar-nav > li a.list-group-item {
  padding: 10px;
  font-family: "DIN Next LT W23";
  font-size: 18px;
  line-height: 150%;
  color: var(--black);
}
@media (min-width: 769px) {
  #sidebar-wrapper .sidebar-nav > li a.list-group-item {
    padding: 12px 10px 12px 20px;
  }
}
#sidebar-wrapper .sidebar-nav > li a.list-group-item.active {
  background-color: var(--site_bg);
  color: var(--secondary);
}
#sidebar-wrapper .sidebar-nav > li a.list-group-item.active::before {
  content: "";
  position: absolute;
  inset-inline-start: 0px;
  top: 0;
  width: 5px;
  height: 100%;
  background: var(--secondary);
}
#sidebar-wrapper .sidebar-nav > li a.list-group-item.active svg path {
  fill: var(--secondary);
}
#sidebar-wrapper .sidebar-nav > li a.list-group-item:hover {
  background-color: var(--site_bg);
  color: var(--grey);
}
#sidebar-wrapper .sidebar-nav > li a.list-group-item svg {
  margin: 0 10px;
}
#sidebar-wrapper .sidebar-nav > li a.list-group-item[data-bs-toggle=collapse]::after {
  content: "";
  position: absolute;
  background: url(../images/ic-siderbar-arrow.svg) no-repeat;
  width: 24px;
  height: 24px;
  inset-inline-end: 10px;
  top: 20%;
}
@media (min-width: 769px) {
  #sidebar-wrapper .sidebar-nav > li a.list-group-item[data-bs-toggle=collapse]::after {
    inset-inline-end: 10px;
    top: 31%;
  }
  .rtl #sidebar-wrapper .sidebar-nav > li a.list-group-item[data-bs-toggle=collapse]::after {
    transform: rotate(180deg);
  }
}
#sidebar-wrapper .sidebar-nav > li a.list-group-item[data-bs-toggle=collapse].active:not(.collapsed)::after {
  transform: rotate(90deg);
}
#sidebar-wrapper .sidebar-nav > li ul {
  list-style: none !important;
}

.table-responsive {
  overflow-x: auto;
}
.table-responsive .cases-table {
  width: 100%;
  border-collapse: collapse;
}
.table-responsive .cases-table tr:nth-child(even) {
  background-color: #f9f9f9;
}
.table-responsive .cases-table tr:hover {
  background-color: #f2f2f2;
}
.table-responsive .cases-table th,
.table-responsive .cases-table td {
  padding: 8px;
  border-bottom: 1px solid var(--site_bg);
  color: var(--grey);
}
.table-responsive .cases-table th.status-open,
.table-responsive .cases-table td.status-open {
  color: var(--green);
}
.table-responsive .cases-table th.status-closed,
.table-responsive .cases-table td.status-closed {
  color: var(--red);
}
.table-responsive .cases-table thead th {
  background-color: var(--site_bg);
  color: var(--black);
}

.paging {
  margin-top: 30px;
  display: flex;
  flex-direction: row-reverse;
}
.paging ul.pagination {
  gap: 5px;
}
.paging ul.pagination li.page-item span.page-link {
  border: none;
  box-shadow: none;
  background: var(--secondary) !important;
  color: #fff;
}
.paging ul.pagination li.page-item .page-link {
  color: var(--grey);
  background: rgba(150, 149, 153, 0.24);
  border-radius: 12px;
  padding: 5px 15px 7px;
}
.paging ul.pagination li.page-item .page-link:hover {
  color: var(--grey) !important;
  background: rgba(150, 149, 153, 0.5);
}
.paging ul.pagination li.page-item.active .page-link {
  color: var(--white);
}

.rtl ol.breadcrumb li:before {
  float: right !important;
  padding-left: var(--bs-breadcrumb-item-padding-x);
}

.login {
  display: flex;
  flex-direction: row;
  display: flex;
  flex-direction: row;
  height: 100vh;
}
@media (max-width: 992px) {
  .login {
    flex-direction: column;
  }
}
.login .login-section {
  width: 33.333%;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 992px) {
  .login .login-section {
    width: 100%;
    padding: 70px 20px;
  }
}
.login .login-section .lang-switch {
  position: fixed;
  top: 5%;
  inset-inline-end: 5%;
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid var(--white-half);
  z-index: 99;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  color: var(--white);
  font-size: 20px;
}
@media (max-width: 992px) {
  .login .login-section .lang-switch {
    background: var(--secondary);
    top: 60px;
    position: absolute;
    padding: 5px 15px 10px;
    border-radius: 30px;
  }
}
.login .login-section .login-contents {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 460px;
  border-radius: 12px;
  background: var(--site_bg);
  box-shadow: var(--box-shadow);
  gap: 20px;
  padding: 36px;
}
.login .login-section .login-contents ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 5px;
  padding: 0;
}
.login .login-section .login-contents ul li {
  flex-grow: 1;
}
.login .login-section .login-contents ul li button {
  width: 100%;
  text-align: center;
  font-family: "DIN Next LT W23";
  font-size: 18px;
  line-height: 150%;
  color: var(--grey);
  box-shadow: none;
  outline: none;
  border: none;
  border-bottom: 4px solid var(--light-grey);
}
.login .login-section .login-contents ul li button.active {
  color: var(--primary);
  border: none;
  background: transparent;
  border-bottom: 4px solid var(--primary);
}
.login .login-section .login-contents .frm-title {
  font-family: "DIN Next LT W23";
  font-size: 30px;
  line-height: 150%;
  color: var(--black);
  text-align: center;
}
.login .login-section .login-contents .tab-content {
  width: 100%;
}
.login .login-section .login-contents .tab-content .form-control {
  border-radius: 12px;
  border: 1px solid var(--light-grey);
  background: var(--white);
  width: 100%;
  height: 50px;
  padding: 15px 20px;
  font-size: 18px;
}
.login .login-section .login-contents .tab-content button.btn-frm-submit {
  border-radius: 12px;
  background: var(--primary);
  width: 100%;
  padding: 15px;
  margin: 40px 0px 15px;
  color: var(--white);
}
.login .branding-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: var(--white);
  position: relative;
  background: url("../images/login-vector.svg") no-repeat;
  background-size: cover;
}
@media (max-width: 992px) {
  .login .branding-section {
    align-items: start;
    flex-direction: column;
    padding: 70px 20px;
    width: auto;
  }
}
.login .branding-section .logo {
  position: absolute;
  top: 5%;
  inset-inline-start: 5%;
}
@media (max-width: 992px) {
  .login .branding-section .logo {
    position: relative;
    top: -40px;
  }
}
.login .branding-section .branding-info {
  width: 100%;
  max-width: 460px;
}
.login .branding-section .branding-info span {
  font-family: "DIN Next LT W23";
  font-size: 18px;
  line-height: 150%;
  color: var(--primary);
}
.login .branding-section .branding-info h1 {
  font-family: "DIN Next LT W23 Medium";
  font-size: 48px;
  line-height: 120%;
  color: var(--black);
  margin-bottom: 20px;
}
@media (max-width: 992px) {
  .login .branding-section .branding-info h1 {
    font-size: 38px;
  }
}
.login .branding-section .branding-info p {
  font-family: "DIN Next LT W23";
  font-size: 19;
  line-height: 150%;
  color: var(--grey);
}
.login .branding-section:after {
  content: "";
  background: var(--primary);
  width: 4px;
  height: 100%;
  inset-inline-end: 0;
  position: absolute;
}
@media (max-width: 992px) {
  .login .branding-section:after {
    display: none;
  }
}

section.first-section {
  align-items: center;
}
@media (max-width: 1400px) {
  section.first-section {
    flex-direction: column;
  }
}
@media (max-width: 1400px) {
  section.first-section > div {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  section.first-section > div.col-9 .row {
    flex-direction: column;
  }
}
@media (max-width: 1200px) {
  section.first-section > div.col-9 .row > div {
    width: 100%;
  }
}
section.first-section .welcome {
  position: relative;
  text-align: start;
}
@media (max-width: 992px) {
  section.first-section .welcome {
    margin-bottom: 30px;
  }
}
section.first-section .welcome > span {
  font-family: "DIN Next LT W23";
  font-size: 22px;
  line-height: 150%;
  color: var(--primary);
  display: block;
  margin-bottom: 10px;
}
section.first-section .welcome h3 {
  font-family: "DIN Next LT W23";
  font-size: 36px;
  line-height: 150%;
  color: var(--black);
}
section.first-section .welcome h3 p {
  font-family: "DIN Next LT W23";
  font-size: 32px;
  line-height: 150%;
  color: var(--grey);
}
section.first-section .services-sammary ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
section.first-section .services-sammary ul li {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}
section.first-section .services-sammary ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--white);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  padding: 24px 5px;
  transition: all 0.2s linear 0s;
  width: 100%;
  height: 100%;
  margin: 10px;
}
section.first-section .services-sammary ul li a svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
section.first-section .services-sammary ul li a span {
  font-family: "DIN Next LT W23";
  font-size: 22px;
  line-height: 150%;
  color: var(--black);
}
section.first-section .services-sammary ul li a p {
  font-family: "DIN Next LT W23";
  font-size: 18px;
  line-height: 150%;
  color: var(--grey);
  margin: 10px 0px;
  text-align: center;
}
section.first-section .services-sammary ul li a:hover {
  background: var(--primary);
}
section.first-section .services-sammary ul li a:hover svg path {
  fill: var(--white);
}
section.first-section .services-sammary ul li a:hover span {
  color: var(--white);
}
section.first-section .services-sammary ul li a:hover p {
  color: var(--white-half);
}

.favorite-box,
.quick-links-box {
  border-radius: var(--border-radius);
  background: var(--white);
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px 24px;
  gap: 25px;
}
.favorite-box .commonTitle,
.quick-links-box .commonTitle {
  font-family: "DIN Next LT W23";
  font-size: 22px;
  line-height: 150%;
  color: var(--black);
}
.favorite-box ul,
.quick-links-box ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 190px;
  overflow-y: hidden;
  padding-right: 10px;
  position: relative;
}
.favorite-box ul li,
.quick-links-box ul li {
  margin-bottom: 10px;
}
.favorite-box ul li a,
.quick-links-box ul li a {
  border-radius: 12px;
  background: var(--site_bg);
  padding: 15px 18px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--grey);
  font-family: "DIN Next LT W23";
  font-size: 16px;
  line-height: 150%;
  color: var(--grey);
}
.favorite-box ul li a:hover,
.quick-links-box ul li a:hover {
  color: var(--white);
  background: var(--primary);
}
.favorite-box:hover ul,
.quick-links-box:hover ul {
  overflow-y: scroll;
}

.second-section {
  margin-top: 48px;
}
.second-section .title-with-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
@media (max-width: 1200px) {
  .second-section .title-with-action {
    flex-direction: column;
    align-items: flex-start;
  }
}
.second-section .title-with-action h3 {
  font-family: "DIN Next LT W23";
  font-size: 16px;
  line-height: 150%;
  color: var(--black);
}
.second-section .title-with-action .actionBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--white);
  padding: 10px;
  border-radius: 30px;
  gap: 20px;
  box-shadow: var(--box-shadow);
}
.second-section .title-with-action .actionBtn .add a {
  font-family: "DIN Next LT W23";
  font-size: 14px;
  line-height: 150%;
  color: var(--grey);
  display: block;
}
.second-section .title-with-action .actionBtn .add a svg {
  margin: 0 5px;
}
.second-section .title-with-action .actionBtn .add a:hover {
  color: var(--secondary);
}
.second-section .title-with-action .actionBtn .add a:hover svg path {
  fill: var(--secondary);
}
.second-section .title-with-action .actionBtn .current a {
  border-radius: 100px;
  background: var(--secondary);
  box-shadow: var(--box-shadow);
  display: inline-flex;
  align-items: flex-start;
  padding: 8px 23px;
  font-family: "DIN Next LT W23";
  font-size: 16px;
  line-height: 150%;
  color: var(--white);
}
.second-section .title-with-action .actionBtn .current a:hover {
  color: var(--grey);
  background: var(--light-grey);
}
.second-section .services-box .accordion .accordion-item {
  margin-bottom: 10px;
  border-radius: var(--border-radius);
  border: 1px solid rgba(122, 122, 122, 0.2);
  background: var(--white);
}
.second-section .services-box .accordion .accordion-item .accordion-header .accordion-button {
  background: none;
  outline: none !important;
  border: 0 !important;
  padding-inline-start: 60px;
  padding-inline-end: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .second-section .services-box .accordion .accordion-item .accordion-header .accordion-button {
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
}
.second-section .services-box .accordion .accordion-item .accordion-header .accordion-button > span {
  font-family: "DIN Next LT W23";
  font-size: 22px;
  line-height: 150%;
  color: var(--black);
}
.second-section .services-box .accordion .accordion-item .accordion-header .accordion-button .serv-summary {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
@media (max-width: 992px) {
  .second-section .services-box .accordion .accordion-item .accordion-header .accordion-button .serv-summary {
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
    gap: 0;
  }
}
.second-section .services-box .accordion .accordion-item .accordion-header .accordion-button .serv-summary a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.3rem;
}
@media (max-width: 992px) {
  .second-section .services-box .accordion .accordion-item .accordion-header .accordion-button .serv-summary a {
    width: 100%;
    border-bottom: 1px dashed var(--light-grey);
    padding-bottom: 10px;
    margin-bottom: 10px;
    gap: 0;
  }
}
.second-section .services-box .accordion .accordion-item .accordion-header .accordion-button .serv-summary a:last-child {
  border-bottom: 0;
}
.second-section .services-box .accordion .accordion-item .accordion-header .accordion-button .serv-summary a div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.second-section .services-box .accordion .accordion-item .accordion-header .accordion-button .serv-summary a div svg {
  width: 24px;
  height: 24px;
}
.second-section .services-box .accordion .accordion-item .accordion-header .accordion-button .serv-summary a div svg path {
  fill: var(--black-half);
}
.second-section .services-box .accordion .accordion-item .accordion-header .accordion-button .serv-summary a div span {
  font-family: "DIN Next LT W23";
  font-size: 18px;
  line-height: 150%;
  color: var(--black);
}
.second-section .services-box .accordion .accordion-item .accordion-header .accordion-button .serv-summary a p {
  font-family: "DIN Next LT W23";
  font-size: 16px;
  line-height: 150%;
  color: var(--grey);
  margin: 0;
}
@media (max-width: 992px) {
  .second-section .services-box .accordion .accordion-item .accordion-header .accordion-button .serv-summary a p {
    color: var(--black);
  }
}
.second-section .services-box .accordion .accordion-item .accordion-header .accordion-button:focus {
  border: 0px !important;
  outline: none !important;
  box-shadow: none !important;
}
.second-section .services-box .accordion .accordion-item .accordion-header .accordion-button:after {
  content: none;
}
.second-section .services-box .accordion .accordion-item .accordion-header .accordion-button:before {
  content: "";
  border-radius: 25px;
  background: rgba(0, 112, 185, 0.05) url(../images/ic-siderbar-arrow.svg) no-repeat;
  width: 34px;
  height: 34px;
  inset-inline-start: 14px;
  position: absolute;
  background-position: center center;
}
.rtl .second-section .services-box .accordion .accordion-item .accordion-header .accordion-button:before {
  transform: rotate(180deg);
}
.second-section .services-box .accordion .accordion-item .accordion-header .accordion-button[aria-expanded=true] .serv-summary a div svg path {
  fill: var(--primary);
}
.second-section .services-box .accordion .accordion-item .accordion-header .accordion-button[aria-expanded=true] .serv-summary a div span {
  color: var(--primary);
}
.second-section .services-box .accordion .accordion-item .accordion-header .accordion-button[aria-expanded=true]:before {
  background: var(--secondary) url(../images/ic-active-accordion.svg) no-repeat;
  background-position: center center;
}
.second-section .services-box .accordion .accordion-item .accordion-body .section-title-with-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
@media (max-width: 992px) {
  .second-section .services-box .accordion .accordion-item .accordion-body .section-title-with-action {
    align-items: start;
    flex-direction: column;
  }
}
.second-section .services-box .accordion .accordion-item .accordion-body .section-title-with-action h3 {
  font-family: "DIN Next LT W23";
  font-size: 20px;
  line-height: 21px;
  color: var(--black);
}
.second-section .services-box .accordion .accordion-item .accordion-body .section-title-with-action .tool-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.second-section .services-box .accordion .accordion-item .accordion-body .section-title-with-action .tool-action .add a {
  border-radius: 22px;
  background: var(--secondary);
  color: var(--white);
  display: block;
  padding-inline-start: 0;
  padding-inline-end: 25px;
  padding-top: 2px;
  padding-bottom: 2px;
  opacity: 0.8;
}
.second-section .services-box .accordion .accordion-item .accordion-body .section-title-with-action .tool-action .add a:hover {
  opacity: 1;
}
.second-section .services-box .accordion .accordion-item .accordion-body .section-title-with-action .tool-action .add a svg {
  margin-inline-end: 10px;
}
.second-section .services-box .accordion .accordion-item .accordion-body .section-title-with-action .tool-action .add a svg path {
  fill: var(--white);
}
.second-section .services-box .accordion .accordion-item .accordion-body .section-title-with-action .tool-action .all a {
  border-radius: 22px;
  background: var(--primary);
  color: var(--white);
  display: block;
  padding: 7px 25px 8px;
  text-align: center;
  opacity: 0.8;
}
.second-section .services-box .accordion .accordion-item .accordion-body .section-title-with-action .tool-action .all a:hover {
  opacity: 1;
}

.breadcrumb a {
  font-family: "DIN Next LT W23";
  font-size: 16px;
  line-height: 21px;
  color: var(--grey);
}

.service-section .title-with-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
@media (max-width: 992px) {
  .service-section .title-with-action {
    align-items: start;
    flex-direction: column;
  }
}
.service-section .title-with-action h3 {
  font-family: "DIN Next LT W23";
  font-size: 36px;
  line-height: 50px;
  color: var(--black);
  display: flex;
  align-items: center;
}
.service-section .title-with-action h3 span {
  font-family: "DIN Next LT W23";
  font-size: 18px;
  line-height: 150%;
  color: var(--grey);
  text-align: center;
  margin-inline-start: 10px;
}
.service-section .title-with-action .actionBtn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--site_bg);
  padding: 10px;
  border-radius: 30px;
  gap: 10px;
  box-shadow: var(--box-shadow);
  padding-inline-start: 20px;
}
@media (max-width: 992px) {
  .service-section .title-with-action .actionBtn {
    margin: 20px 0;
  }
}
.service-section .title-with-action .actionBtn .add a {
  display: block;
  font-family: "DIN Next LT W23";
  font-size: 14px;
  line-height: 150%;
  color: var(--grey);
}
.service-section .title-with-action .actionBtn .add a svg {
  margin: 0 5px;
}
.service-section .title-with-action .actionBtn .add a:hover {
  color: var(--secondary);
}
.service-section .title-with-action .actionBtn .add a:hover svg path {
  fill: var(--secondary);
}
.service-section .title-with-action .actionBtn .current a {
  border-radius: 100px;
  background: var(--secondary);
  box-shadow: var(--box-shadow);
  display: inline-flex;
  align-items: flex-start;
  padding: 8px 23px;
  color: var(--white);
  line-height: 150%;
}
.service-section .title-with-action .actionBtn .current a:hover {
  color: var(--black);
  background: var(--light-grey);
}
.service-section .services-sammary ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: -12.5px;
  margin-right: -12.5px;
}
@media (max-width: 992px) {
  .service-section .services-sammary ul {
    flex-direction: column;
  }
}
.service-section .services-sammary ul li {
  flex: 0 0 25%;
  max-width: 25%;
  width: 100%;
  padding-left: 12.5px;
  padding-right: 12.5px;
  position: relative;
}
@media (max-width: 992px) {
  .service-section .services-sammary ul li {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.service-section .services-sammary ul li a {
  display: block;
  padding: 25px;
  position: relative;
  height: 100%;
  border: 1px solid var(--site_bg);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
}
@media (max-width: 992px) {
  .service-section .services-sammary ul li a {
    margin-bottom: 20px;
  }
}
.service-section .services-sammary ul li a:after {
  content: "";
  position: absolute;
  background: url("../images/service-vetor-bg.svg") no-repeat;
  background-position: right;
  width: 150px;
  height: 140px;
  top: -5px;
  right: -5px;
  opacity: 0.5 !important;
  transition: all 0.1s ease-in-out;
}
.rtl .service-section .services-sammary ul li a:after {
  left: -5px;
  right: initial;
}
.rtl .service-section .services-sammary ul li a {
  background-position: left;
}
.service-section .services-sammary ul li a div {
  display: flex;
  align-items: center;
}
.service-section .services-sammary ul li a div svg {
  width: 28px;
  height: 28px;
}
.service-section .services-sammary ul li a div span {
  font-family: "DIN Next LT W23";
  font-size: 26px;
  line-height: 150%;
  color: var(--black);
  margin-inline-start: 10px;
}
.service-section .services-sammary ul li a p {
  font-family: "DIN Next LT W23";
  font-size: 18px;
  line-height: 150%;
  color: var(--grey);
}
.service-section .services-sammary ul li a:hover {
  background: var(--primary);
}
.service-section .services-sammary ul li a:hover svg path {
  fill: var(--white);
}
.service-section .services-sammary ul li a:hover span {
  color: var(--white);
}
.service-section .services-sammary ul li a:hover p {
  color: var(--white-half);
}
.service-section .services-sammary ul li a:hover:after {
  opacity: 0.05 !important;
}
.service-section .cases-box {
  margin-top: 60px;
}
.service-section .cases-box .section-title-with-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
@media (max-width: 992px) {
  .service-section .cases-box .section-title-with-action {
    align-items: start;
    flex-direction: column;
  }
}
.service-section .cases-box .section-title-with-action h3 {
  font-family: "DIN Next LT W23";
  font-size: 28px;
  line-height: 150%;
  color: var(--black);
}
.service-section .cases-box .section-title-with-action .tool-action a {
  border-radius: 100px;
  background: var(--secondary);
  box-shadow: var(--box-shadow);
  display: inline-flex;
  align-items: flex-start;
  padding: 8px 23px;
  color: var(--white);
  line-height: 150%;
  margin-inline-end: 7px;
}
.service-section .cases-box .section-title-with-action .tool-action a svg {
  margin-inline-end: 10px;
}
.service-section .cases-box .section-title-with-action .tool-action a:hover {
  color: var(--black);
  background: var(--light-grey);
}
.service-section .cases-box .open-case-tbl {
  background: var(--white);
  padding: 30px;
  border-radius: var(--border-radius);
}/*# sourceMappingURL=styles.css.map */